<ion-button (click)="onPressDigit(1)">1</ion-button>
<ion-button (click)="onPressDigit(2)">2</ion-button>
<ion-button (click)="onPressDigit(3)">3</ion-button>
<ion-button (click)="onPressDigit(4)">4</ion-button>
<ion-button (click)="onPressDigit(5)">5</ion-button>
<ion-button (click)="onPressDigit(6)">6</ion-button>
<ion-button (click)="onPressDigit(7)">7</ion-button>
<ion-button (click)="onPressDigit(8)">8</ion-button>
<ion-button (click)="onPressDigit(9)">9</ion-button>
<ion-button class="backspace" (click)="onBackspace()">
	<ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
</ion-button>
<ion-button (click)="onPressDigit(0)">0</ion-button>
<ion-button class="check" [disabled]="control.invalid" (click)="onComplete.emit()">
	<ion-icon slot="icon-only" name="checkmark"></ion-icon>
</ion-button>