<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="back()">
				<ion-icon slot="icon-only" name="chevron-back" color="primary"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title color="secondary">NÚMERO CELULAR</ion-title>
	</ion-toolbar>
	<ion-toolbar>
		<ion-title class="ion-text-center">
			<div class="register-steps">
				<ion-radio-group name="step1" [value]="true">
					<ion-radio [value]="true" disabled></ion-radio>
				</ion-radio-group>
				<hr class="separator">
				<ion-radio-group [value]="step2">
					<ion-radio [value]="true" disabled></ion-radio>
				</ion-radio-group>
				<hr class="separator">
				<ion-radio-group [value]="step3">
					<ion-radio [value]="true" disabled></ion-radio>
				</ion-radio-group>
			</div>
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-router-outlet (activate)="changeRoute($event)"></ion-router-outlet>
</ion-content>