<ion-content>
	<ion-grid>
		<ion-row class="ion-align-items-center">
			<ion-col class="ion-text-center">
				<img src="assets/icons/coink-logo.svg" alt="logo">
				<p class="logo-text">
					<ion-text color="primary">
						LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA
					</ion-text>
				</p>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-button strong size="large" expand="block" shape="round" routerLink="./register">
					REGÍSTRATE
				</ion-button>
				<ion-button strong size="large" expand="block" shape="round" class="ion-margin-top" color="secondary">
					INGRESA
				</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>