ion-modal {
	--background: transparent;
}

ion-img {
	width: 120px;
	margin: 0px auto 24px auto;
}

.modal-container {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: white;
	border-radius: 8px;
	width: 70vw;
	padding: 24px;
	color: var(--ion-color-primary-contrast);
	text-align: center;

	@media (prefers-color-scheme: dark) {
		background-color: var(--ion-background-color);
	}
}
