<ion-content>
	<app-register-layout
	iconPath="assets/icons/oink-cop.svg"
	registerTitle="ESTAS MUY CERCA DE SER PARTE DE COINK."
	[description]="descriptionTemplate">
		<ng-template #descriptionTemplate>
			Solo es necesario que leas detenidamente el contrato que
			se encuentra al final de esta pantalla y lo aceptes.
		</ng-template>

		<p class="text-title">LO MÁS IMPORTANTE</p>
		<p>
			Para la apertura del Depósito de Bajo Monto en COINK debes ser una persona natural que de
			acuerdo con nuestra legislación vigente te encuentres en plena capacidad para adquirir derechos
			y contraer obligaciones.
		</p>
		<p>
			Abrirás una cuenta COINK de Bajo Monto la cual te permitirá tener un saldo hasta por 8 salarios
			mínimos en el mes y realizar débitos por el mismo valor. Si deseas sobrepasar estos límites
			debes solicitarnos la apertura de un Depósito Ordinario COINK Persona Natural.
		</p>
		<p>
			Solo puedes tener una cuenta COINK de Bajo Monto y podrás utilizar tu dispositivo móvil para
			consultar tu saldo, tus movimientos, realizar tus transacciones y administrar tu cuenta.
		</p>
		<p>
			Recuerda que no necesitas saldo mínimo ni monto inicial para su apertura.
		</p>

		<p class="text-title">
			<u>Lee tu contrato</u>
		</p>
		<div class="check-container ion-margin-bottom" style="display: flex">
			<ion-checkbox class="ion-margin-end" [(ngModel)]="accept"></ion-checkbox>
			<span (click)="accept = !accept">He leído ya acepto el contrato</span>
		</div>

		<ion-button
		strong
		class="ion-margin-bottom"
		size="large"
		expand="block"
		shape="round"
		[disabled]="!accept"
		(click)="onAccept()">
			ACEPTAR
		</ion-button>
	</app-register-layout>
</ion-content>

<ion-modal #modal [isOpen]="showModal">
	<ng-template>
		<div class="modal-container">
			<div class="modal-content">
				<ion-img src="assets/icons/oink-gift.svg"></ion-img>
				<p class="text-title">¡Bienvenido a Coink!</p>
				<p>¡Cuenta creada exitosamente, tu marrano ya está listo para que empieces a ahorrar!</p>
				<ion-button strong expand="block" shape="round" (click)="backToHome(modal)">
					CONTINUAR
				</ion-button>
			</div>
		</div>
	</ng-template>
</ion-modal>