:host {
	display: grid;
	grid-template-areas:
		'icon title'
		'icon description'
		'separator separator'
		'content content';
	grid-template-columns: auto 1fr;
	grid-template-rows: repeat(3, auto) 1fr;
	gap: 0px 24px;
	height: 100%;

	&.without-title {
		grid-template-areas:
			'icon description'
			'icon description'
			'separator separator'
			'content content';

		.register-description {
			align-self: center;
		}
	}
}

img {
	grid-area: icon;
	width: 64px;
}

.register-title {
	grid-area: title;
	margin-bottom: 12px;
}

.register-description {
	grid-area: description;
}

.green-separator {
	grid-area: separator;
	border: 1px solid var(--ion-color-primary);
	background-color: var(--ion-color-primary);
	margin: 24px 0px;
}

.register-content {
	grid-area: content;
}
