<ion-content>
	<app-register-layout
	iconPath="assets/icons/oink-big.svg"
	registerTitle="¿CUÁLES SON TUS DATOS?"
	[description]="descriptionTemplate">
		<ng-template #descriptionTemplate>
			Ahora necesitamos saber algunos datos tuyos
		</ng-template>

		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<p class="text-title ion-no-margin">Documento de identidad</p>
			<ion-list>
				<ion-item>
					<ion-label position="floating">Tipo de documento</ion-label>
					<ion-select interface="popover" formControlName="documentType">
						<ion-select-option *ngIf="!documentTypes" disabled>
							Cargando...
						</ion-select-option>
						<ion-select-option *ngFor="let type of documentTypes" [value]="type.notation">
							{{ type.description }}
						</ion-select-option>
					</ion-select>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Número de documento</ion-label>
					<ion-input type="text" formControlName="documentNumber"></ion-input>
				</ion-item>
				<ion-item detail class="ion-align-items-center" id="expedition-modal">
					<ion-label position="floating">Fecha de expedición del documento</ion-label>
					<ion-input readonly type="text" [value]="form.controls.documentExpedition.value"></ion-input>
				</ion-item>
				<ion-item detail class="ion-align-items-center" id="birth-modal">
					<ion-label position="floating">Fecha de nacimiento</ion-label>
					<ion-input readonly type="text" [value]="form.controls.birthDate.value"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Género</ion-label>
					<ion-select interface="popover" formControlName="gender">
						<ion-select-option *ngIf="!genders" disabled>
							Cargando...
						</ion-select-option>
						<ion-select-option *ngFor="let gender of genders" [value]="gender.name">
							{{ gender.name }}
						</ion-select-option>
					</ion-select>
				</ion-item>
			</ion-list>

			<p class="text-title ion-margin-top ion-no-margin">Configura tu cuenta</p>
			<ion-list>
				<ion-item>
					<ion-label position="floating">Correo electrónico</ion-label>
					<ion-input type="email" formControlName="email"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label position="floating">Confirmar correo electrónico</ion-label>
					<ion-input type="email" formControlName="emailConfirm"></ion-input>
				</ion-item>
				<ion-item class="ion-align-items-center">
					<ion-label position="floating">PIN de seguridad</ion-label>
					<ion-input
					[type]="showPin ? 'text' : 'password'"
					formControlName="pin">
					</ion-input>
					<ion-icon
					slot="end"
					[name]="showPin ? 'eye-off' : 'eye'"
					(click)="showPin = !showPin">
					</ion-icon>
				</ion-item>
				<ion-item class="ion-align-items-center">
					<ion-label position="floating">Confirmar PIN de seguridad</ion-label>
					<ion-input
					[type]="showConfirmPin ? 'text' : 'password'"
					formControlName="confirmPin">
					</ion-input>
					<ion-icon
					slot="end"
					[name]="showConfirmPin ? 'eye-off' : 'eye'"
					(click)="showConfirmPin = !showConfirmPin">
					</ion-icon>
				</ion-item>
			</ion-list>

			<ion-button
			strong
			class="ion-margin-bottom"
			type="submit"
			size="large"
			expand="block"
			shape="round"
			[disabled]="form.invalid">
				SIGUIENTE
			</ion-button>
		</form>
	</app-register-layout>
</ion-content>

<ion-modal trigger="expedition-modal">
	<ng-template>
		<ng-container *ngTemplateOutlet="datePickerTemplate; context: {
			$implicit: 'documentExpedition',
			modalTitle: 'Fecha de expedición del documento'
		}">
		</ng-container>
	</ng-template>
</ion-modal>

<ion-modal trigger="birth-modal">
	<ng-template>
		<ng-container *ngTemplateOutlet="datePickerTemplate; context: {
			$implicit: 'birthDate',
			modalTitle: 'Fecha de nacimiento'
		}">
		</ng-container>
	</ng-template>
</ion-modal>

<ng-template #datePickerTemplate let-field let-modalTitle="modalTitle">
	<ion-header>
		<ion-toolbar>
			<ion-title>
				{{ modalTitle }}
			</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-datetime
		showDefaultButtons
		presentation="date"
		doneText="Seleccionar"
		cancelText="Cancelar"
		[value]="form.controls[field].value"
		(ionChange)="selectDate($event, field)">
		</ion-datetime>
	</ion-content>
</ng-template>