<ion-content>
	<app-register-layout
	iconPath="assets/icons/oink.svg"
	[description]="descriptionTemplate">
		<ng-template #descriptionTemplate>
			Para comenzar, por favor ingresa <strong>tu número celular.</strong>
		</ng-template>

		<ion-input
		readonly
		type="text"
		class="input-pad-number"
		placeholder="(XXX - XXXXXXX)"
		[value]="displayPhoneNumber">
		</ion-input>

		<app-number-pad [formControl]="phoneNumber" (onComplete)="getVerificationCode()"></app-number-pad>
	</app-register-layout>
</ion-content>